*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#output-canvas {
  margin: 0;
  padding: 0;
  border: none;

  /* flip selfie mirror */
  transform: rotateY(180deg);
}
